<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.gamesdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name=".ALiActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.ipaynow.plugin.activity.PayMethodActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.ipaynow.plugin.inner_plugin.wechat_plugin.activity.WeChatNotifyActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name="com.game.paysdk.PayActivity"
            android:configChanges="keyboard|screenSize|orientation" >
        </activity>

        <service android:name=".FxService" >
        </service>

        <activity
            android:name="com.game.paysdk.TestActivity"
            android:configChanges="keyboard|screenSize|orientation"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.game.gamesdk.UserInfoActivity"
            android:theme="@style/dialog"
             >
        </activity>
    </application>

</manifest>
